<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8"/>
    <title>Hello world!</title>
</head>
<body>

Usage:
<br>List all subdomains:
<br><a href="/list/<token>">/list/&lt;token&gt;</a>
<br>
<br>Set a record:
<br><a href="/set/<subdomain>/<value>/<token>">/set/&lt;subdomain&gt;/&lt;value&gt;/&lt;token&gt;</a>
<br>
<br>Get a record:
<br><a href="/get/<subdomain>/<token>">/get/&lt;subdomain&gt;/&lt;token&gt;</a>
<br>
<br>Delete a record:
<br><a href="/delete/<subdomain>/<token>">/delete/&lt;subdomain&gt;/&lt;token&gt;</a>

</body>
</html>
